@font-face {
  font-family: 'font-1';
  src: url("../fonts/SP-black.otf");
  font-weight: 900;
}

@font-face {
  font-family: 'font-1';
  src: url("../fonts/SP-semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: 'font-1';
  src: url("../fonts/SP-light.otf");
  font-weight: 300;
}

@font-face {
  font-family: 'font-2';
  src: url("../fonts/CP-regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'font-2';
  src: url("../fonts/CP-light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'font-2';
  src: url("../fonts/CP-lightitalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'font-2';
  src: url("../fonts/CP-bold.otf");
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'font-2';
  src: url("../fonts/CP-bolditalic.otf");
  font-weight: 700;
  font-style: italic;
  font-weight: bold;
}

.text-style-1 {
  font-family: font-1, sans-serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
}

.text-style-2 {
  font-family: font-2, serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
}

.text-style-3 {
  font-family: font-2, serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.44;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
}

.text-style-4 {
  font-family: font-1, sans-serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.3;
}

.text-style-5 {
  font-family: font-1, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.21;
  color: rgba(0, 0, 0, 0.7);
}

.text-style-6 {
  font-family: font-1, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.21;
  color: rgba(0, 0, 0, 0.7);
}

.text-style-card-1 {
  font-family: font-1, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
}

.text-style-card-2 {
  font-family: font-2, serif;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
}

.article-content titre1 {
  display: inline-block;
  font-family: font-1, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 64px;
}

.article-content titre2 {
  display: inline-block;
  font-family: font-1, sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 32px;
  margin-bottom: 8px;
}

.article-content chapeau {
  display: inline-block;
  font-family: font-2, serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 100px;
}

.article-content p,
.article-content ul,
.article-content ol {
  font-family: font-2, serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.44;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
}

.article-content p strong,
.article-content ul strong,
.article-content ol strong {
  font-weight: 600;
}

.article-content p a,
.article-content ul a,
.article-content ol a {
  color: #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
}

.article-content p a:hover,
.article-content ul a:hover,
.article-content ol a:hover {
  text-decoration: none currentcolor solid;
  color: #003F93;
  border-bottom: 1px solid #003F93;
}

.article-content titre1 + p {
  margin-top: 32px;
}

.article-content blockquote {
  font-family: font-2, serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.44;
  font-style: italic;
  color: #8a8a8a;
  margin: 40px 0px 40px 32px;
}

.article-content blockquote strong {
  font-weight: 600;
}

.article-content figcaption {
  text-align: center;
  color: #a1a1a1;
  font-family: font-1, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width: 520px) {
  .text-style-1 {
    font-family: font-1, sans-serif;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);
  }
  .text-style-2 {
    font-family: font-2, serif;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);
  }
  .text-style-4 {
    font-family: font-1, sans-serif;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);
  }
  .text-style-5 {
    font-family: font-1, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.21;
    color: rgba(0, 0, 0, 0.7);
  }
  .article-content p,
  .article-content ul,
  .article-content ol {
    font-size: 21px;
  }
  .article-content chapeau {
    font-size: 24px;
  }
}

.button {
  width: 100%;
  height: 56px;
  background-color: none;
  border-style: none;
  border-width: 2px;
  font-family: Sofia Pro;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.29;
  letter-spacing: 0.07em;
  text-align: center;
  border-radius: 0px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.5s;
  cursor: pointer;
  color: #003F93;
  background-color: white;
  box-shadow: 0 10px 30px 0 rgba(67, 67, 67, 0.25);
}

.button.transparent {
  background-color: transparent;
}

.button:hover {
  background-color: #003F93;
  color: white;
  box-shadow: 0 6px 22px 0 rgba(19, 21, 148, 0.44);
}

.seperator {
  width: 170px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.7);
}

.date-badge {
  font-family: font-1, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.17;
  color: rgba(0, 0, 0, 0.7);
}

.date-badge span {
  font-family: font-1, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.17;
  color: rgba(0, 0, 0, 0.7);
}

.article-tag {
  font-family: font-1, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.17;
  color: rgba(0, 0, 0, 0.7);
  padding: 12px 16px;
  margin: 0px 0px 12px 0px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  transition-property: all;
  transition-duration: 0.2s;
  cursor: pointer;
}

.article-tag:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.article-card {
  height: 500px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin: 24px 0px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.2s;
  cursor: pointer;
}

.article-card:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
}

.article-card .article-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.article-card .card-content {
  height: 300px;
}

.pagination {
  margin-top: 50px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: font-1, sans-serif;
}

.pagination a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 20px 0;
  width: 40px;
  text-align: center;
  color: white;
  float: left;
}

.pagination div {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 40px;
  overflow: hidden;
  transition: .5s linear;
}

.pagination .left {
  left: 0;
}

.pagination .right {
  right: 0;
}

.pagination .line {
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: 10px;
  left: -35px;
  background: white;
  transition: .5s ease-in-out;
}

.pagination .left a:nth-child(2):hover ~ .line,
.pagination .right a:nth-child(2):hover ~ .line {
  left: 5px;
}

.pagination .left a:nth-child(3):hover ~ .line,
.pagination .right a:nth-child(3):hover ~ .line {
  left: 45px;
}

.pagination .left a:nth-child(4):hover ~ .line,
.pagination .right a:nth-child(4):hover ~ .line {
  left: 85px;
}

.pagination nav {
  background: #FCFCFC;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition: .3s linear;
}

.pagination .text {
  display: inline-block;
  letter-spacing: 2px;
  padding: 20px 10px;
  cursor: pointer;
}

.pagination nav:hover div {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.pagination div:hover .prev {
  opacity: 0;
  display: none;
}

.pagination div:hover .next {
  display: none;
}

.pagination div:hover {
  width: auto;
}

.pagination-mobile {
  display: none;
  justify-content: space-between;
  height: 56px;
}

.pagination-mobile .pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition-property: all;
  transition-duration: 0.1s;
  cursor: pointer;
}

.pagination-mobile .pagination-button:active {
  box-shadow: 0 0 0 0 white;
}

@media (hover: none) {
  .pagination {
    display: none;
  }
  .pagination-mobile {
    display: flex;
  }
}

.input-wrapper {
  position: relative;
  width: 200px;
}

.input-wrapper .input-highlight {
  font-size: 16px;
  user-select: none;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  font-family: Sofia Pro;
  overflow: hidden;
}

.input-wrapper input {
  height: 30px;
  width: 100%;
  min-width: 100%;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: #003F93;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid lightgray;
  font-family: Sofia Pro;
}

.input-wrapper input::placeholder {
  color: lightgray;
}

.input-wrapper input:focus + .input-highlight {
  border-top: 2px solid #003F93;
}

.comment {
  margin-bottom: 50px;
}

.social-fab {
  bottom: 16px;
  right: 16px;
  position: -webkit-sticky;
  position: sticky;
  width: 56px;
  float: right;
  margin-top: -320px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  /* Unessential styling for sliding up buttons at differnt speeds */
  /* Show tooltip content on hover */
}

.social-fab.visible {
  opacity: 1;
}

.social-fab .buttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.social-fab .buttons:active,
.social-fab .buttons:focus,
.social-fab .buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.social-fab .buttons:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 15px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

.social-fab:hover .buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.social-fab .buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
  background-image: url("../assets/share-02.png");
  background-size: cover;
}

.social-fab .buttons:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 20ms;
  background-image: url("../assets/share-03.png");
  background-size: cover;
}

.social-fab .buttons:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
  transition-delay: 40ms;
  background-image: url("../assets/share-04.png");
  background-size: cover;
}

.social-fab .buttons:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
  transition-delay: 60ms;
  background-image: url("../assets/share-05.png");
  background-size: cover;
}

.social-fab .buttons:not(:last-child):nth-last-child(5) {
  -webkit-transition-delay: 100ms;
  transition-delay: 60ms;
  background-image: url("../assets/share-06.png");
  background-size: cover;
}

.social-fab [tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

.social-fab [tooltip]:hover:before,
.social-fab [tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 992px) {
  .social-fab {
    margin-right: 20vw;
  }
}

@media (hover: none) {
  .social-fab {
    display: none;
  }
}

.navbar {
  background-color: white;
  transition: background-color 200ms linear;
}

@media (min-width: 992px) {
  .navbar {
    background-color: transparent;
    transition: background-color 200ms linear;
  }
}

#navbar-brand {
  font-family: font-1, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.7);
}

.nav-item {
  margin-right: 60px;
}

.nav-link.nav-link-big {
  font-family: font-1, sans-serif;
  font-size: 13px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.7);
}

.nav-link.nav-link-small {
  font-family: font-1, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.navbar.solid {
  background-color: white !important;
  transition: all 200ms linear;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
}

.foo-text-1 {
  font-family: font-1, sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 40px;
}

.foo-text-2 {
  font-family: font-1, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 4px;
}

.social {
  width: 120px;
  margin-top: 8px;
}

.social .social-icon {
  width: 24px;
  height: auto;
  transition-property: width;
  transition-duration: 0.3s;
  cursor: pointer;
}

.credits {
  font-family: font-1, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  margin-top: 50px;
}

a:hover {
  text-decoration: none;
}

.background {
  min-height: 100vh;
}

@media (min-width: 992px) {
  .background {
    background-image: url("../assets/bg-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}

.sub-button {
  font-family: font-2, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 16px;
}

#home-right-block {
  margin-bottom: 120px;
  margin-top: 160px;
}

.bienvenue {
  color: #003F93;
}

.bio-block {
  margin-top: 100px;
  margin-bottom: 200px;
}

@media (min-width: 992px) {
  .bio-block {
    margin-top: 250px;
    margin-bottom: 200px;
  }
}

.article-container {
  margin-bottom: 100px;
}

.article-content img {
  width: 100%;
  height: auto;
  margin: 32px 0px;
}

.article-hero-image {
  background-size: cover;
  background-position: center;
  height: 300px;
}

@media (min-width: 520px) {
  .article-hero-image {
    background-image: url("../assets/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
  }
}

.comment-form {
  font-family: font-1, sans-serif;
}

.second-section {
  background-color: whitesmoke;
  padding: 100px 0px;
}

.page-category-container {
  margin-top: 200px;
}

.no-results {
  height: 300px;
}
