@font-face {
    font-family: 'font-1';
    src: url('../fonts/SP-black.otf');
    font-weight: 900;
}

@font-face {
    font-family: 'font-1';
    src: url('../fonts/SP-semibold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'font-1';
    src: url('../fonts/SP-light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'font-2';
    src: url('../fonts/CP-regular.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'font-2';
    src: url('../fonts/CP-light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'font-2';
    src: url('../fonts/CP-lightitalic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'font-2';
    src: url('../fonts/CP-bold.otf');
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'font-2';
    src: url('../fonts/CP-bolditalic.otf');
    font-weight: 700;
    font-style: italic;
    font-weight: bold;
}

$font-family-1: font-1,
sans-serif;
$font-family-2: font-2,
serif;


.text-style-1 {
    font-family: $font-family-1;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: normal;
    color: $dark-grey;
}

.text-style-2 {
    font-family: $font-family-2;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: $dark-grey;
}

.text-style-3 {
    font-family: $font-family-2;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.44;
    letter-spacing: normal;
    color: $dark-grey;
}

.text-style-4 {
    font-family: $font-family-1;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: normal;
    color: $dark-grey;
    line-height: 1.3;
}

.text-style-5 {
    font-family: $font-family-1;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.21;
    color: $dark-grey;
}

.text-style-6 {
    font-family: $font-family-1;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.21;
    color: $dark-grey;
}

.text-style-card-1 {
    font-family: $font-family-1;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    color: $dark-grey;
}

.text-style-card-2 {
    font-family: $font-family-2;
    font-size: 15px;
    line-height: 1.2;
    color: $dark-grey;
}

.article-content {

    titre1 {
        display: inline-block;
        font-family: $font-family-1;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
        color: $dark-grey;
        margin-top: 64px;
    }

    titre2{
        display: inline-block;
        font-family: $font-family-1;
        font-size: 21px;
        font-weight: 600;
        line-height: 1.3;
        color: $dark-grey;
        margin-top: 32px;
        margin-bottom: 8px;
    }
    chapeau {
        display: inline-block;
        font-family: $font-family-2;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        color: $dark-grey;
        margin-bottom: 100px;
    }
    p,
    ul,
    ol {
        font-family: $font-family-2;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.44;
        letter-spacing: normal;
        color: $dark-grey;
        strong {
            font-weight: 600;
        }
        a{
            color: rgb(138, 138, 138);
            // text-decoration: $dark-grey;
            // text-decoration-style: solid;
            // text-decoration-line: underline;
            border-bottom: 1px solid rgb(138, 138, 138);
            &:hover{
                text-decoration: none currentcolor solid;
                color: $blue;
                border-bottom: 1px solid $blue;
            }

            

        }
    }
    titre1+p{
        margin-top:32px;
    }
    blockquote {
        font-family: $font-family-2;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.44;
        font-style: italic;
        color: rgb(138, 138, 138);
        margin: 40px 0px 40px 32px;
        strong {
            font-weight: 600;
        }
    }
    figcaption{
        text-align: center;
        color: rgb(161, 161, 161);
        font-family: $font-family-1;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
    }
}
























@media (min-width: 520px) {
    .text-style-1 {
        font-family: $font-family-1;
        font-size: 70px;
        font-weight: 900;
        letter-spacing: normal;
        color: $dark-grey;
    }
    .text-style-2 {
        font-family: $font-family-2;
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        color: $dark-grey;
    }
    .text-style-4 {
        font-family: $font-family-1;
        font-size: 50px;
        font-weight: 900;
        letter-spacing: normal;
        color: $dark-grey;
    }
    .text-style-5 {
        font-family: $font-family-1;
        font-size: 24px;
        font-weight: 900;
        line-height: 1.21;
        color: $dark-grey;
    }
    .article-content {
        p,
        ul,
        ol {
            font-size: 21px;
        }
        chapeau{
            font-size: 24px;
        }
    }
}